<?php echo $this->doctype().PHP_EOL; ?>
<html lang="ko">
<head>
	<meta charset="UTF-8">
	<?php echo $this->headTitle(); ?>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="description" content="Zfeg">
	<meta name="author" content="TaeGuNi hjt1761@gmail.com">

	<link type="text/css" href="/css/bootstrap.min.css" rel="stylesheet">

	<!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
	<!--[if lt IE 9]>
	<script type="text/javascript" src="/js/html5shiv.min.js"></script>
	<![endif]-->

	<script type="text/javascript" src="/js/jquery-1.11.1.min.js"></script>
	<script type="text/javascript" src="/js/bootstrap.min.js"></script>
	<script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/webfont/1.4.10/webfont.js"></script>
	<script type="text/javascript" src="/js/common.js"></script>
</head>

<body>
<div class="container">
	<div class="col-xs-12 col-lg-12 col-md-12">
		<?php echo $this->render('partials/navbar.phtml'); ?>
	</div>

	<div class="col-xs-12 col-lg-12 col-md-12">
		<?php echo $this->render('partials/breadcrumb.phtml'); ?>
	</div>
	<?php echo $this->layout()->content; ?>

	<div class="col-xs-12 col-lg-12 col-md-12">
		<address>
			<strong>Zfeg @ All Right Reserved.</strong>
			Zend Framework Extend
		</address>
	</div>
</div>
</body>
</html>
