<div class="col-xs-12 col-lg-12 col-md-12">
	<?php echo $this->partial('partials/head.phtml', $this->board); ?>
	<?php echo $this->partial('partials/navs.phtml', $this->board); ?>

	<table class="table table-striped table-hover">
		<colgroup>
			<col width="5%">
			<col width="65%">
			<col width="15%">
			<col width="15%">
		</colgroup>
		<thead>
		<tr>
			<th>No</th>
			<th>Subject</th>
			<th>Writer</th>
			<th>Date</th>
		</tr>
		</thead>
		<tbody>
		<?php if ($this->entry) : $idx = 0; ?>
			<?php foreach ($this->entry as $row) : ?>
			<tr>
				<td><?php echo $this->paginator->getPages()->totalItemCount - $idx; $idx++; ?></td>
				<td>
					<a href="<?php echo $this->url(array('action' => 'view', 'doc' => $row['doc_seq'])); ?>">
						<?php echo $row['doc_subject']; ?>
					</a>
				</td>
				<td><?php echo $row['doc_usr_name']; ?></td>
				<td><?php echo $row['doc_time']; ?></td>
			</tr>
			<?php endforeach; ?>
		<?php else: ?>
			<tr>
				<td colspan="2"><em>No Data</em></td>
			</tr>
		<?php endif; ?>
		</tbody>
	</table>
</div>

<div class="col-xs-2 col-lg-2 col-md-2 text-right"></div>

<div class="col-xs-8 col-lg-8 col-md-8 text-center">
	<?php if($this->paginator) echo $this->paginationControl($this->paginator,'Sliding','partials/pagination.phtml');?>
</div>

<div class="col-xs-2 col-lg-2 col-md-2 text-right">
	<a type="button" class="btn btn-primary" href="<?php echo $this->url(array('action' => 'write')); ?>"><span class="glyphicon glyphicon-pencil"></span></a>
</div>