<div class="col-xs-12 col-lg-12 col-md-12">
	<?php echo $this->partial('partials/head.phtml', $this->board); ?>

	<div class="panel panel-default">
		<div class="panel-heading">
			<h3 class="panel-title"><?php echo $this->doc_subject; ?></h3>
		</div>
		<div class="panel-body">
			<?php echo $this->doc_content; ?>
		</div>
	</div>

	<div class="media">
		<a class="pull-left" href="#">
			<img class="media-object" src="#" alt="#">
		</a>
		<div class="media-body">
			<h4 class="media-heading">Media heading</h4>
			...
		</div>
	</div>

</div>