<nav class="navbar navbar-default" role="navigation">
	<div class="navbar-header">
		<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-collapse-1">
			<span class="sr-only">Toggle navigation</span>
			<span class="icon-bar"></span>
			<span class="icon-bar"></span>
			<span class="icon-bar"></span>
		</button>
		<a class="navbar-brand" href="<?php echo $this->url(array('controller' => null, 'action' => null)); ?>">Zfeg</a>
	</div>
	<div class="collapse navbar-collapse" id="navbar-collapse-1">
		<ul class="nav navbar-nav navbar-right">
			<li>
				<a href="<?php echo $this->url(array('module' => 'default', 'controller' => 'board', 'action' => 'index')); ?>"><span class="glyphicon glyphicon-list-alt"></span> Board</a>
		</ul>
	</div>
</nav>