<?php
/**
 * @todo Navs + Badges
 */
?>
<ul class="nav nav-tabs">
	<li class="active"><a href="#">All <span class="badge">3</span></a></li>
	<?php foreach ($this->cate as $item) : ?>
	<li><a href="#"><?php echo $item; ?> <span class="badge"><?php echo $item; ?></span></a></li>
	<?php endforeach; ?>
</ul>
